.photo-grid{
    margin: auto;
    margin-top: 92px;
    display: grid;
    max-width: 1184px;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}

@media screen and (max-width: 1280px) {
    .photo-grid{
    max-width: calc((1184/1280)*100%);
    }
}

@media  screen and (max-width: 1024px) {
    .photo-grid{
        max-width: calc((928/1024)*100%);
        gap: 14px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
}

@media  screen and (max-width: 768px) {
    .photo-grid{
        margin-top: 88px;
        max-width: calc((720/768)*100%);
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    
}

@media  screen and (max-width: 425px) {
    .photo-grid{
        margin-top: 64px;
        max-width: calc((288/320)*100%);
        gap: 12px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    
}