.place__paragraph{
    min-width: 484px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 26px;
}

.place__paragraph:first-of-type{
    margin-top: 0;
}

@media  screen and (max-width: 1279px) {
    .place__paragraph{
        min-width: calc((456/1024)*100%);
    }
    
}

@media  screen and (max-width: 1023px) {
    .place__paragraph{
        font-size: 16px;
        min-width: calc((352/768)*100%);
    }
}

@media  screen and (max-width: 767px) {
    .place__paragraph{
        margin: 0 16px;
        min-width: calc((288/320)*100%);
        
    }
    
}