.intro{
    max-width: 984px;
    margin: auto;
    margin-top: 92px;
}

@media  screen and (max-width: 1024px) {
    .intro{
        max-width: calc((928/1024)*100%);
    }
    
}


@media  screen and (max-width: 768px) {
    .intro{
        max-width: calc((720/768)*100%);
        margin: auto;
        margin-top: 88px;
    }
    
}

@media  screen and (max-width: 425px) {
    .intro{
        max-width: calc((288/320)*100%);
        margin-top: 64px;
    }
    
}