.lead__subtitle{
    max-width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    align-self: center;
    margin: auto;
    margin-top: 32px;
}

@media  screen and (max-width: 767px) {
    .lead__subtitle{
        max-width: calc((288/320)*100%);
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
    }
    
}