.cover{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1184px;
    min-height: 740px;
    margin: auto;
    margin-top: 92px;
    z-index: 1;
    background-image: url(../../images/cover-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity ease 1s;
}

.cover::before{
    content: ' ';
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    z-index: -1;
    background-color: #000;
	opacity: 0.15;
}

.cover:hover::before {
	opacity: 0.7;
    transition: opacity ease 1s;	
}

@media  screen and (max-width: 1279px) {
    .cover{
        max-width: 100%;
        min-height: 640px;
    }
    
}

@media  screen and (max-width: 1023px) {
    .cover{
        min-height: 480px;
        margin-top: 90px;
    }
}

@media  screen and (max-width: 767px) {
    .cover{
        min-height: 200px;
        margin-top: 66px;
    }
}