.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    margin: auto;
    padding-bottom: 24px;
    margin-top: 92px;
    min-height: 18px;
}

@media  screen and (max-width: 1024px) {
    .footer{
        max-width: calc((928/1024)*100%);
    }
}

@media  screen and (max-width: 768px) {
    .footer{
        max-width: calc((720/768)*100%);
        margin-top: 88px;
    }
}

@media  screen and (max-width: 425px) {
    .footer{
        max-width: calc((186/320)*100%);
        margin-left: 16px;
        padding-bottom: 24px;
        margin-top: 64px;
        flex-direction: column;
        flex-wrap: wrap;
    }
}